@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#logo {
  height: 20px;
  padding-top: 20px;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #71D9B4;
}

p, label, textarea{
font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
}